.quote {
    display: flex;
    flex-direction: column;
    gap: clamp(20px, 50 / 1080 * 100dvh, 50px);

    &__text {
        font-size: adaptive-font-size($font-size-main, $font-size-main-mobile);
    }

    &:lang(en) &__text {
        color: #FFDEB7;
    }

    &__author {
        text-align: right;
        color: #FD9B40;
    }
}