// ================================================
// Миксин для позиционирования секции
//
// Пример использования:
//   .section {
//     @include section-position;
//   }
//
// Описание:
// Этот миксин устанавливает относительное позиционирование для секции
// и задает абсолютное позиционирование для фона секции и содержимого.
// Содержимое имеет z-index: 2, чтобы находиться выше фона.
// ================================================

@mixin section-position {
    position: relative;

    &__content {
        position: relative;
        z-index: 2;
    }

    &__background {
        position: absolute;
        top: 0;
        left: 0;
    }

    &__content, &__background {
        width: 100%;
        height: 100%;
    }
}

// ==========================================
// Миксин `background-frame` для создания рамки
// с фоном вокруг элемента. Использует
// псевдоэлемент ::before с настраиваемыми свойствами.
//
// Пример использования:
//   .framed-element {
//     @include background-frame;
//   }
//
// Описание:
// Этот миксин предоставляет удобный способ добавления
// фоновой рамки вокруг элемента. Он использует
// псевдоэлемент ::before для создания фона с настраиваемыми
// свойствами, такими как цвет, прозрачность и радиус скругления.
// Миксин также предоставляет опциональный параметр для
// настройки позиционирования элемента.
// ==========================================
@mixin background-frame {
    // Добавление отступа вокруг элемента
    padding: 10px;

    // Изменение позиционирования, если указано значение отличное от static
    @if (position != static) {
        position: relative;
    }

    &::before {
        content: '';

        background-color: $gradi-blue;
        opacity: 0.8;
        border-radius: 15px;

        position: absolute;
        z-index: -1;

        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
    }
}

@mixin satellite-settings($name, $satellite-height, $satellite-width, $orbit-height, $left-position, $bottom-position) {
    // стили для флексбокс обеспечивающие вертикальные выравнивания и промежутки
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: min(5px, 20 / 1080 * 100dvh);

    // установка высоты спутника на основе высоты орбиты
    height: $satellite-height / $orbit-height * 100%;

    // позиционирование спутника
    position: absolute;
    left: $left-position / $orbit-height * 100%;
    bottom: $bottom-position / $orbit-height * 100%;

    // анимация
    animation: vrashenie 10s linear infinite reverse;

    // стили для изображения спутника
    &-image {
        height: 100%;
        width: 100%;
    }

    // метка отображаемая после спутника
    &::after {
        content: $name;

        // позиционирование метки
        position: absolute;
        top: 100%;

        // стили для текста метки
        color: $text-second-color;

        // адаптивный размер шрифта
        font-size: adaptive-font-size($pc-font-size: $font-size-main, $mobile-font-size: $font-size-main-mobile);
        letter-spacing: 15.6px;

        // скрытие метки на маленьких экранах
        @media screen and ((max-width: 764px) or (max-height: 764px)) {
            opacity: 0;
        }
    }
}