// Хедер
@keyframes header-rocket-fly {
    0% {
        bottom: 0;
        right: 110%;
        rotate: 38.2deg;
    }

    40% {
        right: 90%;
        bottom: 100%;
        rotate: 0;
    }
    100% {
        right: 70%;
        bottom: 75%;
        rotate: -38.2deg;
    }
}

// абаут планет
@keyframes alien-eye-motion {
    0% {
        transform: translateX(-12 / 15 * 100%) rotate(-90deg);
    }
    100% {
        transform: translateX(11 / 15 * 100%);
    }
}
@keyframes alien-motion {
    100% {
        transform: translateY(50%);
    }
}