/* Reset and base styles  */
@import "../fonts/Gputeks/stylesheets.css";
* {
  padding: 0px;
  margin: 0px;
  border: none;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Links */
a, a:link, a:visited {
  text-decoration: none;
  color: unset;
}

a:hover {
  text-decoration: none;
  color: unset;
}

/* Common */
aside, nav, footer, header, section, main {
  display: block;
}

h1, h2, h3, h4, h5, h6, p {
  font-size: inherit;
  font-weight: inherit;
}

ul, ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img, svg {
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

/* Form */
input, textarea, button, select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button, input[type=submit] {
  display: inline-block;
  -webkit-box-shadow: none;
          box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:focus, input:active,
button:focus, button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

body {
  font-family: "Gputeks", sans-serif;
  font-size: 30px;
  color: #FFFFFF;
}

.container {
  width: 100%;
  height: 100%;
  padding: 80px 11% 80px 70px;
}
@media screen and (max-width: 1300px) {
  .container {
    padding: 80px 15% 80px 70px;
  }
}
@media screen and (min-width: 1921px) {
  .container {
    padding: 80px 180px 80px 70px;
  }
}
@media screen and (max-width: 870px) {
  .container {
    padding: 20px 80px 40px 20px;
  }
}

h1 {
  font-size: calc(3rem + 90 * (100dvw - 280px) / (1920 - 280));
}

h2 {
  font-size: calc(0.9rem + 33 * (100dvw - 280px) / (1920 - 280));
}

input::-webkit-input-placeholder {
  font-size: calc(0.78rem + 6.6 * (100dvw - 280px) / (1920 - 280));
}

input::-moz-placeholder {
  font-size: calc(0.78rem + 6.6 * (100dvw - 280px) / (1920 - 280));
}

input:-ms-input-placeholder {
  font-size: calc(0.78rem + 6.6 * (100dvw - 280px) / (1920 - 280));
}

input::-ms-input-placeholder {
  font-size: calc(0.78rem + 6.6 * (100dvw - 280px) / (1920 - 280));
}

p, a, label, input, input::placeholder, button {
  font-size: calc(0.78rem + 6.6 * (100dvw - 280px) / (1920 - 280));
}

.alien {
  width: 23.9938080495%;
  aspect-ratio: 155/197;
  position: relative;
}
.alien__body {
  height: 100%;
  width: 100%;
}
.alien__eye {
  width: 9.6774193548%;
  aspect-ratio: 1;
  position: absolute;
  top: 35.0253807107%;
  left: 43.8709677419%;
  z-index: 2;
}

.header {
  position: relative;
  height: 100dvh;
  width: 100%;
  overflow: hidden;
}
.header__content {
  position: relative;
  z-index: 2;
}
.header__background {
  position: absolute;
  top: 0;
  left: 0;
}
.header__content, .header__background {
  width: 100%;
  height: 100%;
}
.header__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.header__button {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 30px 60px;
  background-color: #3E4761;
  text-align: center;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.header__background {
  background-color: #222735;
}
.header__flight {
  width: 82.3958333333%;
  position: absolute;
  right: 0;
  bottom: 0;
  -webkit-transform: translateX(33.5018963338%) translateY(54.6534653465%);
          transform: translateX(33.5018963338%) translateY(54.6534653465%);
}
.header__planet {
  width: 100%;
  height: 100%;
}
.header__raketa {
  width: 15.6763590392%;
  position: absolute;
  right: 70%;
  bottom: 75%;
  rotate: -38.2deg;
}

.about {
  position: relative;
  width: 100%;
  height: 100dvh;
  background: -webkit-gradient(linear, left bottom, left top, from(#2b344b), to(#222735));
  background: linear-gradient(0deg, #2b344b, #222735 100%);
}
.about__content {
  position: relative;
  z-index: 2;
}
.about__background {
  position: absolute;
  top: 0;
  left: 0;
}
.about__content, .about__background {
  width: 100%;
  height: 100%;
}
.about__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.about__picture {
  margin: 0 auto;
  max-width: 50%;
  max-height: 100%;
  aspect-ratio: 646/871;
  position: relative;
}
.about__planets {
  height: 100%;
  position: relative;
  z-index: 3;
}
.about__article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 6.4814814815%;
  height: 100%;
  width: 50%;
}
.about .alien {
  position: absolute;
  top: 31.5729047072%;
  left: 29.4117647059%;
}
@media screen and (orientation: portrait) {
  .about__picture {
    max-width: 100%;
  }
  .about__article {
    padding: 10px;
    position: relative;
    gap: 20px;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    width: 100%;
    position: absolute;
    z-index: 3;
  }
  .about__article::before {
    content: "";
    background-color: #2b344b;
    opacity: 0.8;
    border-radius: 15px;
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
}

.how-people {
  position: relative;
  width: 100%;
  height: 100dvh;
  overflow: hidden;
  background: -webkit-gradient(linear, left bottom, left top, from(#222735), to(#2b344b));
  background: linear-gradient(360deg, #222735, #2b344b 100%);
}
.how-people__content {
  position: relative;
  z-index: 2;
}
.how-people__background {
  position: absolute;
  top: 0;
  left: 0;
}
.how-people__content, .how-people__background {
  width: 100%;
  height: 100%;
}
.how-people__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 6.4814814815%;
}
.how-people__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.how-people__text {
  width: 40%;
  line-height: min(30px, 4.6296296296dvh);
}
.how-people__rovers {
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
  grid-template-columns: repeat(4, 1fr);
  width: 60%;
}
.how-people__rover-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.how-people__rover-image {
  width: clamp(50px, 100%, 5.26vw);
}
.how-people__rover-text {
  font-size: 0.5rem;
}
.how-people__background {
  background: url("../img/section-3-bg.svg") bottom/100% no-repeat;
}
.how-people__rover {
  width: 24.6875%;
  position: absolute;
  left: 36.0416666667%;
  bottom: 8.8888888889%;
}
.how-people__alien {
  width: 21.7708333333%;
  position: absolute;
  left: -4.6296296296%;
  bottom: 8.8888888889%;
}